.main-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-content > div {
	flex: 0 48%;
}

.float-left-pic {
	width: 40%;
	float: left;
	height: auto;
	margin: 0 10px 10px 0;
}

#bob-letter {
	text-align: justify;
	line-height: 16px;
}

#bob-letter > * {
	margin: 0;
	padding: 0;
}

#bob-letter :nth-child(1) {
	font-style: italic;
	margin-bottom: 10px;
}

#bob-letter :nth-last-child(1) {
	font-weight: bold;
	margin-top: 10px;
}

#telex > ul {
	margin: 0;
	padding: 0;
	text-align: justify;
}

#telex span {
	font-weight: bold;
}

#actu > li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 2px solid #eaeaea;
	margin-bottom: 15px;
}

#actu .picture {
	flex: 0 20%;
	margin: 0;
	padding: 0;
}

#actu .text {
	flex: 0 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 5px;
}

#actu h6, #actu p {
	margin: 0;
	padding: 0;
}

#actu p {
	text-align: justify;
	line-height: 14px;
}

#ad > p {
	text-align: justify;
}